section {
  padding-top: 70px !important;
  width: 100%;
  min-height: 100vh;
  position: relative;

}

carousel {
  width: 80%;
  max-width: 900px;
  height: 500px !important;
  z-index: 1 !important;
}

.about {
  background: url(./../../../assets/helper-images/flower-bg.png),
    url(./../../../assets/helper-images/flower-bg.png);
  background-size: 150px 200px, 150px 200px;
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
}

/* @media (max-width:575px) {
  .about {
    background: none;
  }

  carousel {
    padding: 10px;
    width: 99vw !important;
    height: 85vw !important;
    border: none;
    border-radius: 15px;
    box-shadow: inset 2px 0px 10px rgba(6, 47, 113, 0.8);

  }

} */
#hero {
  background-image: url(./../../../assets/bg/hero-bg-3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
}

#credits {
  background-image: url(./../../../assets/bg/bg-both.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#about {
  background-image: url(./../../../assets/bg/bg-test.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.credit {
  width: 85%;
  height: 150px;
  max-width: 500px;
  border: none;
  font-size: 16px;
  color: #062F71;
  background-color: #fff;
}

.credit img {
  width: 120px;
  height: 120px;
}

.credit-1 {
  animation: bumpUp 3000ms linear infinite;

}

.credit-2 {
  animation: bumpUp 3000ms linear infinite 1000ms;

}

.credit-3 {
  animation: bumpUp 3000ms linear infinite 2000ms;

}

@keyframes bumpUp {
  0% {
    box-shadow: none;
  }

  40% {
    transform: scale(1);
  }

  50% {
    box-shadow: 5px 5px 20px black;
    transform: scale(1.05);
  }

  60% {
    transform: scale(1);
  }

  100% {
    box-shadow: none;
    transform: scale(1);
  }
}

.services .row {
  width: 100%;
}

.service-card {
  margin: 10px;
  width: 250px;
  height: 300px;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
  background-color: #062f71;
}

.service-card .filler {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  color: white;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(to top, hsl(217, 90%, 23%) 75%, rgba(255, 255, 255, 0) 100%);
}

.service-card img {
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: -1;
}

#contact {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23052457'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23000308'/%3E%3Cstop offset='1' stop-color='%23052559'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23010710'/%3E%3Cstop offset='1' stop-color='%2305265c'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23010a18'/%3E%3Cstop offset='1' stop-color='%2305275e'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23020d20'/%3E%3Cstop offset='1' stop-color='%23052860'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23021028'/%3E%3Cstop offset='1' stop-color='%23052963'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%2303142f'/%3E%3Cstop offset='1' stop-color='%23062a65'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23031737'/%3E%3Cstop offset='1' stop-color='%23062b68'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23041a3f'/%3E%3Cstop offset='1' stop-color='%23062c6a'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23041d47'/%3E%3Cstop offset='1' stop-color='%23062d6c'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%2305214f'/%3E%3Cstop offset='1' stop-color='%23062e6f'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23052457'/%3E%3Cstop offset='1' stop-color='%23062f71'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.social-icon {
  padding: 5px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 125px;
  box-shadow: 0px 0px 5px silver;
  cursor: pointer;
}

ul {
  list-style: none;
  color: white;
  font-size: 16px;
}

li {
  margin-top: 5px;
}

h3 {
  font-size: 22px;
  font-family: bubblegum,
    cursive;
}

.contact {
  width: 100%;
  min-height: calc(90vh)
}
